.section__header {
    color: #ff0000;
}
.section__paragraph {
    width: fit-content;
    border: 2px solid #ff0000;
    border-radius: 30px/60px;
    padding: 10px 20px;
    background-color: #ca000056;
}
.section__pictureSide {

    max-width: 50%;
    float: left;
}
.sectionTable__tableContainer {
    overflow-x: auto;
}